body{
    background:  #C37F78;
}

h1{
   text-align: center;
   color: antiquewhite; 
}

.container {
    max-width: 1200px;
    border: 2px solid antiquewhite;
    margin: 30px auto;
    background-color: #C3675D;
    padding: 30px;
}

.slider-line{
    display: flex;
    background-color: antiquewhite;
    width: 1024px;
    height: 256px;
    position: relative;
    left: 0;
    transition: all ease 1s;
}

.slider {
    border: 3px solid #663530;
    overflow: hidden;
    width: 256px;
    height: 256px;
    margin: 20px auto;
}

button {
    border: 1px solid antiquewhite;
    border-radius: 4px;
    padding: 10px 20px;
    background: #663530;
    color: antiquewhite;
}